body {
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  color: white;
  font-family: helvetica;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

ul.navbar {
  display: flex;
  justify-content: center;
}

ul.navbar li {
  color: white;
  font-size: 2em;
  list-style-type: none;
  margin-left: 30px;
}

ul.navbar li:hover {
  color: orange;
  cursor: pointer;
}

ul.navbar #activity-button:hover {
  color: purple;
  cursor: pointer;
}

ul.navbar #hydration-button:hover {
  color: blue;
  cursor: pointer;
}

ul.navbar #sleep-button:hover {
  color: red;
  cursor: pointer;
}

.welcome {
  color: orange;
  font-size: 3em;
  text-align: center;
}

.information-bar {
  display: flex;
  height: 100vh;
  width: 20%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
}

.user-info {
  border: solid 1px gray;
  font-size: 0.75em;
  height: 25%;
  width: 100%;
}

.main-section {
  border: solid 1px gray;
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.title-bar {
  border: solid 1px gray;
  height: 25vh;
}

.data-display {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.widget,
.resize-widget {
  height: 35%;
  padding: 20px;
  width: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resize-widget {
  height: 400px;
  padding: 20px;
  width: 400px;
}

#snapshot {
  border: solid 3px orange;
  font-size: 1em;
  display: flex;
  text-align: center;
}

#activity {
  border: solid 3px purple;
  font-size: 1em;
  display: flex;
}

#stepComparisonDonut {
  height: 400px;
  margin-top: -10px;
  width: 400px;
}

#hydration {
  border: solid 3px blue;
  font-size: 1em;
  display: flex;
}

#weeklyHydrationChart {
  height: 100%;
}

#sleep {
  border: solid 3px red;
  font-size: 1em;
  display: flex;
}

.hidden {
  display: none;
}
