body {
  background-color: black;
  font-family: helvetica;
  color: white;
  /* background-image: linear-gradient(
    to top,
    #ff9a9e 0%,
    #fecfef 99%,
    #fecfef 100%
  ); */
  background-repeat: no-repeat;
  /* border: solid 3px red; */
  height: 100%;
  display: flex;
  flex-direction: row;
}
ul.navbar {
  display: flex;
  justify-content: center;
}
ul.navbar li {
  color: white;
  font-size: 2em;
  margin-left: 30px;
  list-style-type: none;
}
ul.navbar li:hover{
  color: yellow;
  cursor: pointer;
}
.information-bar {
  /* border: solid 3px blue; */
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.navigation {
}

.date-selection {
  /* align-self: flex-start; */
}

.user-info {
  border: solid 3px gray;
  /* display: ; */
  height: 15%;
  width: 100%;
}

.main-section {
  border: solid 3px gray;
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.title-bar {
  border: solid 3px gray;
  height: 15%;
}

.data-display {
  /* border: solid 3px purple; */
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.widget {
  padding: 20px;
  align-items: center;
}
#snapshot {
  border: solid 3px orange;
  font-size: 2em;
  height: 450px;
  width: 550px;
}

#activity {
  border: solid 3px purple;
  font-size: 2em;
  height: 450px;
  width: 550px;
  display: none;
  position: relative;
}
#stepComparisonDonut {
  height: 400px;
  width: 400px;
}

#hydration {
  border: solid 3px blue;
  font-size: 2em;
  height: 450px;
  width: 550px;
  display: none;
}

#weeklyHydrationChart {
  height: 100%;
}

#sleep {
  border: solid 3px red;
  font-size: 1.5em;
  height: 450px;
  width: 550px;
  display: none;
}

/* .comparisons {
  border: solid 3px green;
} */

/* .friends-zone {
  border: solid 3px blue;
  height: 20%;
  display: flex;
  flex-direction: row;
} */

/* .friends {
  border: solid 3px pink;
  width: 70%;
} */

/* .comparisons {
  border: solid 3px orange;
  width: 30%;
} */
